---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, chinese-font, sans-serif;
$zh-CN-font-family: chinese-font, "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

body:lang(zh-CN) {
	font-family: $zh-CN-font-family;
}

blockquote:lang(zh) {
	font-style: normal;
}

@font-face {
    font-family: chinese-font;
    src: local(Source Han Sans SC), local("SourceHanSansSC-Regular"),
         local(Source Han Sans CN), local("SourceHanSansCN-Regular"),
         local("HiraginoSansGB-W3"),
         local("PingFangSC-Regular"),
         local(Microsoft YaHei), local(SimHei);
    unicode-range: U+2010-2069, U+2190-4DB5, U+4E00-FAD9, U+FF??; 
}
@font-face {
    font-family: chinese-font;
    font-weight: 700;
    src: local(Source Han Sans SC Bold), local("SourceHanSansSC-Bold"), local(Source Han Sans SC),
         local(Source Han Sans CN Bold), local("SourceHanSansCN-Bold"), local(Source Han Sans CN),
         local("HiraginoSansGB-W6"),
         local("PingFangSC-Semibold"),
         local(Microsoft YaHei Bold), local(SimHei);
    unicode-range: U+2010-2069, U+2026, U+2190-4DB5, U+4E00-FAD9, U+FF??; 
}
$heading-font-weight: 700;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

span.icon--sina-weibo img {
	height: 16px;
	width: 16px;
}

pre, tt, code, kbd, samp {
	font-family: Iosevka, monospaced;
}

.post-content hr {
	margin: 16px 0px;
}

.post-list {
	h1, h2, h3 {
		margin-bottom: 0px;
	}
	li {
		margin-bottom: 16px;
	}
}

div.excerpt {
	color: $grey-color;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

blockquote {
	font-size: inherit;
	letter-spacing: inherit;
}